body {
    background: linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)), url('./assets/fondoBosque.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
